<!DOCTYPE html./:/.asset_<server'constructor(height '{% extends "<strong>", <button>
    .asset_<server'constructor(height = 100px; background-color: #f5f5f5; border:
    2px solid #ccc; padding: 3px; margin: 6px 0px 8px 0px;}</style
    >.asset_<server'constructor(height = 100px; background-color: #f5f5f5;
    border: 2px solid #ccc; padding: 3px; margin: 6px 0px 8px 0px
    }">
        <div>
                    <envy.html./:/button 'color' {{ {% url "size" pk=object.pk %} }}
                    </div>
                    </a></p><h4 class="text-center"><span style="font-weight: bold;">{{ object.name }}</span
                        ></h4>
                        </td>
                        </tr>
                        </tbody>
                        </table>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        "./.:.\. ; empty
                        ./.././../.././.././.././.././.././.././.././../.
                        /.././.././.././.././.././.././.././.././.././
                        .././.././.././.././.././.././.././.././.././
                        ../.././.././.././.././.././.././.././.././..
                        /../../.././.././.././.././.././.././.././..
                        
        </strong></div>
</server>
</button> %}') {
    
}>
def size(request, pk):
obj = get_object_or_404(Product, id=pk)
return render(request, 'product/detail.html', {'object': obj})
}
{% endblock content %}

{% block extrahead %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block footer %}{% endblock %}

{% endblock base_generic %}
